@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}
.title{
    margin: 20px 0;
}
.main{
    border: 8px solid #dddddd;
    border-radius: 24px;
    overflow: hidden;
}
.name{
    display: flex;
    font-size: 32px;
    font-weight: 700;
    padding: 8px 16px;
    color: #7e7e7e;
    background: #ebebeb;
}
.name>span{
    color: #bbb;
}
.name-input{
    font-size: 24px;
    font-weight: 700;
    border: none;
    color: #7e7e7e;
    flex-grow: 1;
    outline: none;
    background: #ebebeb;
}
.message-container{
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    width: 400px;
    height: 500px;
    overflow-y: wrap;
    overflow-x: hidden;
    /* border: 1px solid black; */
}
.message-left,.message-right{
    list-style: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: 250px;
    font-size: 18px;
    word-wrap: break-word;
}
.message-left{
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background: #fff;
    box-shadow: -2px 2px 4px #dcdcdc;
}
.message-right{
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background: #2d2d2d;
    box-shadow: 2px 2px 4px #dcdcdc;
    color: #f6f6f6;
}
.message-left>p>span,.message-right>p>span{
    display: block;
    font: italic;
    font-size: 12px;
    margin-top: 4px;
}
.feedback{
    font: italic;
    font-size: 14px;
    padding: 0 16px 16px 16px;
    color: #2d2d2d;
    text-align: center;
}
.message-form{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.message-input{
    flex-grow: 1;
    height: 48px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 12px;
    background: #fff;
}
.send-button{
    height: 48px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 12px;
    background: #fff;
    cursor: pointer;
}
.divider{
    height: 48px;
    width: 2px;
    background: #f6f6f6;
}
.clients-total{
    margin: 20px 0;
    color: #7e7e7e;
}